body {
  margin: 0px;
  padding: 0px;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: blanchedalmond;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

#left {
  display: flex;
  gap: 20px;
}
a:hover {
  color: white;
}
